.xelis-payment-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.xelis-payment-label-value {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
}

.xelis-payment-label-value svg {
  min-width: 1.8rem;
  min-height: 1.8rem;
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.xelis-payment-label-network {
  border: .15rem solid black;
  padding: .1rem .5rem;
  font-size: .9rem;
  font-weight: bold;
}

.xelis-payment-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  container-type: inline-size;
}

.xelis-payment-content a {
  word-break: break-all;
}

.xelis-payment-data {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: start;
}

.xelis-payment-button {
  background-color: #7afad3;
  border: none;
  outline: none;
  padding: .5rem;
  cursor: pointer;
  display: flex;
  gap: .25rem;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.xelis-payment-button svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.xelis-payment-button:hover {
  background-color: black;
  color: #7afad3;
}

.xelis-payment-addr {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

@container (min-width: 700px) {
  .xelis-payment-addr {
    flex-direction: row;
  }
}

.xelis-payment-addr-qrcode {
  border: .2rem solid black;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 12rem;
  background: white;
}

.xelis-payment-addr-value {
  word-break: break-word;
  color: white;
  padding: .5rem 1rem;
  line-height: 1.3rem;
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
}

.xelis-payment-addr-value button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.xelis-payment-addr-value button:hover {
  color: #7afad3;
}

.xelis-payment-addr-value button svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.xelis-payment-amount {
  background: #7afad3;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.xelis-payment-amount svg {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}

.xelis-payment-waiting {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.xelis-payment-init-loading {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
}

.xelis-payment-init-loading svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.xelis-payment-loading-icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  animation: rotate-loading-icon 1s infinite;
}

@keyframes rotate-loading-icon {
  100% {
    transform: rotate(360deg);
  }
}

.xelis-payment-highlight {
  background-color: #ffd100;
  padding: .25rem .5em;
  display: inline-flex;
  gap: .25rem;
  flex-direction: row;
}

.xelis-payment-highlight svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.xelis-payment-divider {
  height: .25rem;
  width: 100%;
  background-color: black;
}

.xelis-payment-message-error {
  display: flex;
  gap: 1rem;
}

.xelis-payment-message-error> :nth-child(2) {
  color: red;
}

.xelis-payment-message-error svg {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  color: red;
}

.xelis-payment-message-success {
  display: flex;
  gap: 1rem;
}

.xelis-payment-message-success> :nth-child(2) {
  color: green;
}

.xelis-payment-message-success svg {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  color: green;
}